parameters:
  webapp:
    address: "https://your.sis-ext.domain"

  api:
    address: "https://your.sis-ext.domain/api"

  accessManager:
    issuer: "%webapp.address%"
    audience: "%webapp.address%"
    expiration: 604800  # 7 days in seconds
    verificationKey: "sis-ext-123"	# this should be a really secret string

  recodex:
    apiBase: https://your.recodex.domain/api  # URI of the ReCodEx API
    extensionId: sis-cuni  # identifier under which is this extension registered in ReCodEx config

  sis:
    apiBase: https://sis.university.tld/is/
    faculty: FACULTY_ID
    secretRozvrhng: SECRET_TOKEN  # for module 'rozvrhng'
    secretKdojekdo: SECRET_TOKEN  # for module 'kdojekdo'

# The most important part - a database system connection
nettrine.dbal:
  connection:
    host: "localhost"
    user: "recodex-sis-ext"
    password: "someSecretPasswordYouNeedToSetYourself"
    dbname: "recodex-sis-ext"
