roles:
    - name: unauthenticated

    - name: student
      parents: unauthenticated

    - name: supervisor-student
      parents: student

    - name: supervisor
      parents: supervisor-student

    - name: empowered-supervisor
      parents: supervisor

    - name: superadmin

permissions:
    - allow: true
      role: scope-master

    - allow: true
      role: superadmin

    - allow: true
      resource: user
      actions:
        - viewDetail
        - fetchSis
        - syncSis
      conditions:
        - user.isSameUser

  # Term permissions
    - allow: true
      resource: term
      actions:
        - list
        - viewDetail

    - allow: true
      resource: term
      role: student
      actions:
        - viewStudentCourses
      conditions:
        - term.isVisibleToStudents

    - allow: true
      resource: term
      role: supervisor-student
      actions:
        - viewTeacherCourses
      conditions:
        - term.isVisibleToTeachers


  # Group permissions
    - allow: true
      resource: group
      role: student
      actions:
        - viewStudent

    - allow: true
      resource: group
      role: supervisor-student
      actions:
        - viewTeacher

  # Event permissions
    - allow: true
      resource: event
      role: student
      actions:
        - joinGroup
      conditions:
        - event.isUserEnrolledFor

    - allow: true
      resource: event
      role: supervisor-student
      actions:
        - bindGroup
        - createGroup
      conditions:
        - event.isUserTeacherOf

