roles:
    - name: unauthenticated

    - name: student
      parents: unauthenticated

    - name: supervisor-student
      parents: student

    - name: supervisor
      parents: supervisor-student

    - name: empowered-supervisor
      parents: supervisor

    - name: superadmin

permissions:
    - allow: true
      role: scope-master

    - allow: true
      role: superadmin

    - allow: false
      resource: user
      actions:
        - viewDetail
      conditions:
        - user.isSameUser
